@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';

.custom-progress::-webkit-progress-bar {
    background-color: #e5e7eb;
    border-radius: 10px;
}
.custom-progress::-webkit-progress-value {
    background-color: red;
    border-radius: 9999px;
}
.custom-progress::-moz-progress-bar {
    background-color: #3b82f6;
    border-radius: 9999px;
}

